# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Env =====
venv/
.venv/
venv.cmd

# ===== Data / Artifacts =====
RAW_ZIP/
*.zip
*.csv
UNZIP_DATA/
CSV_DATA/

# Generated datasets
*.csv
*.parquet
*.feather
*.pkl
*.duckdb
*.sqlite

# Logs
LOGS/
*.log



# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== Local scripts =====
activate_venv.bat
BOOK_DATA.csv
